@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;900&family=Lato:wght@400;700&family=Montserrat&display=swap"); /* get more font sizes */

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.row{
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.purple{
  color: #6415ff;
}

img{
  width: 100%;
}

p{
  line-height: 1.5;
}

/* NAVIGATION */

.nav__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.nav__logo--wrapper{
  display: flex;
  align-items: center;
}

.nav__logo--container{
  display: flex;
  align-items: center;
}

.nav__logo{
  height:48px;
  width: 52px;
}

.nav__logo--text{
  font-weight:900;
  font-size: 20px;
  color: #243e63;
  padding-left: 8px;
}

.nav__links{
  display: flex;
}

.nav__link{
  margin: 0 24px;
  color: #243e63;
  transition: all 300ms ease;
}

.nav__link--primary{
  color: white;
  background-color: #6415ff;
  border: 1px solid #6415ff;
  border-radius: 999px;
  padding: 12px 40px;
}

.nav__link:hover {
  color: #6415ff;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: #6529db;
  color: white;
}

/* LANDING */

.landing__container{
  margin-top: 24px;
  display: flex;
}

.landing__container--text{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.landing__header{
  font-size: 52px;
  padding: 24px 0;
}

.landing__img{
  width: 60%;
}

.input__email


.landing__para{
  font-size: 16px;
  padding: 24px 0;
  margin: 32px 0;
  color: #243e63;
}

.input__email{
  padding: 24px 0;
}

.landing__customers{
  color:lightgray;
  margin-top: 20px ;
}
.landing__customers--img{
  width: 80%;
}