@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;900&family=Lato:wght@400;700&family=Montserrat&display=swap"); /* get more font sizes */

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

html{
  scroll-behavior: smooth;
}

Html, body 
{
    max-width: 100%;
    overflow-x: hidden;
 }

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.row{
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.purple{
  color: #6415ff;
}

img{
  width: 100%;
}

p{
  line-height: 1.5;
}

button{
  cursor:pointer;
}

h3{
  color: #243e63;
}

/* NAVIGATION */

.nav__container{
  display: flex;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
  height: 150px;
}

.nav__logo--wrapper{
  display: flex;
  align-items: center;
}

.nav__logo--container{
  display: flex;
  align-items: center;
}

.nav__logo{
  height:48px;
  width: 52px;
}

.nav__logo--text{
  font-weight:900;
  font-size: 20px;
  color: #243e63;
  padding-left: 8px;
}

.nav__links{
  display: flex;
}

.nav__link{
  margin: 0 24px;
  color: #243e63;
  transition: all 300ms ease;
}

.nav__link--primary{
  color: white;
  background-color: #6415ff;
  border: 1px solid #6415ff;
  border-radius: 999px;
  padding: 12px 40px;
}

.nav__link:hover {
  color: #6415ff;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: #6529db;
  color: white;
}

.btn__menu{
  font-size: 32px;
  padding: 16px;
  background: transparent;
  border:none;
  color: black;
  display:none;
}

.menu__backdrop{
  position:absolute;
  background-color: white;
  top:24px;
  left: 0;
  right: 0;
  bottom: 24px;
  z-index: 100;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  opacity: 0;
  border: 2px solid #bcbdc4;
  border-radius: 20px;
  visibility:hidden;
  transition: all 300ms ease;
  padding: 36px;
  transform: translateX(100%);
}

.btn__menu--close{
  position: absolute;
  top:10px;
  right: 24px;
  padding: 8px;
}

.menu__links{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list{
  padding: 24px 0;
}

.menu__link{
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.menu__link--primary{
  color:white;
    background-color: #6415ff;
    border: 1px solid #6415ff;
    border-radius: 999px;
    padding: 12px 40px;
}

.menu--open .menu__backdrop{
  visibility: visible;
  opacity: 1;
  transform: translateX(0)
}

.menu--open{
  max-height: 100vh;
  overflow-x: hidden;
}

/* LANDING */

.landing__container{
  margin-top: 24px;
  display: flex;
  padding: 0 24px;
}

.landing__container--text{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.landing__header{
  font-size: 52px;
  padding: 24px 0;
  width: 100%;
}

.landing__img{
  width: 60%;
}

.landing__para{
  font-size: 16px;
  color: #243e63;
  width:100%;
}

.input__email{
  padding: 24px 0;
  display: inline-block;
  position: relative;
}

.email{
  border: 2px solid lightgray;
  border-radius: 999px;
  padding: 20px 160px 20px 32px;
  text-align: left;
  width: 100%;
  font-size: 16px;
}

.input__email--btn{
  border: 2px solid #6415ff;
  font-size: 16px;
  font-weight: 700px;
  border-radius: 999px;
  color: white;
  background-color: #6415ff;
  padding: 16px 28px;
  width: 45%;
  top: 28px;
  right: 4px;
  position: absolute;
  
}
 
.landing__customers{
  color:lightgray;
  margin-top: 20px ;
}
.landing__customers--img{
  width: 80%;
}

.img--customers{
  opacity:0.5;
}

/* main */

/* FEATURES */

.row--features{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.features__start{
  font-size: 20px;
  color: #6415ff;
  font-weight: 700;
}

.feature__title{
  color: #243e63;
  font-weight: 900;
  font-size: 56px;
  padding: 16px 0;
}

.feature__para{
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color:#7c8ba1;
  margin: 16px 0;
  line-height: 1.5;
  padding: 0 24px;
  width: 100%;
  max-width: 600px;
}

.services__container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: 20px 0;
}

.services{
   display: flex;
   width: calc(100% / 3);
   padding: 32px 12px;
}

.service__logo{
  padding: 12px 0;
}
.service__img{
    width: 80px;
    height: 80px;
    border: 1px solid #7c8ba1;
    border-radius: 999px;
    padding: 28px;
}

.service__description{
  padding: 0 12px;
  display: flex;
  flex-direction: column;
}

.service__description--para{
    font-size: 16px;
    color:#7c8ba1;
  }

  .service__description--title{
    font-size: 28px;
    color:#243e63;

  }

  .service__description--title,
  .service__description--para{
    text-align: left;
    padding: 8px 0;
  }

  /* section2 */

  .quality--work--container{
    display: flex;
    margin: 40px 0;
    padding: 24px;
  }

  .quality--work--text{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .quality--work--img--wrapper{
    width: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quality--work--img{
    border: 1px solid rgb(226, 232, 240);
  }

  .quality--work--title{
    width: 100%;
    font-size: 48px;
    color: #243e63;
    font-weight: 900;
    padding: 20px 0;
  }

  .quality--work--para{
    font-size: 18px;
    padding: 20px 0;
    color: #7c8ba1;
    text-align: left;
  }

  .quality--work--btn{
    color: white;
    border: 2px solid #6415ff;
    background-color: #6415ff;
    border: none;
    border-radius: 999px;
    padding: 12px 32px;
    width: 100%;
    max-width: 160px;
    margin: 16px 0;
    font-size: 16px;
  }

/* steps */

.steps--container{
  display: flex;
}

.steps--img--wrapper{ 
  width: 100%;
  margin: 0 auto;
  padding-top:80px;
}

.steps--img{
  width: 100%;
  max-width: 900px;
}

.steps--text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 56px;
}

.steps--title{
  font-size: 48px;
  padding: 24px 0;
  color:#243e63;
}

.steps__instructions--wrapper{
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  padding-bottom: 24px;
  width: 100%;
  max-width: 1000px;
}

.steps__number{
  font-size: 32px;
  color: #718096;
  font-weight: 700;
  opacity: 0.5;
}

.steps__instructions--description{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  margin: 0 24px;

}

.steps__instruction--title{
  color:#243e63;
  font-weight: 500;
  font-size: 24px;
}

.steps__instruction--subtitle{
  color: #7c8ba1;
  opacity: 0.7;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  padding: 12px 0;
}

/* values */

.values--container{ 
  display: flex;
  margin: 80px 0;
  padding: 24px;
}

.values--text{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.values__img--wrapper{
  width: 100%;
}

.values__description--img{
  width: 100%;
}

.values__title{
  width: 100%;
  font-size: 48px;
  padding: 24px 0;
  color:#243e63;
  font-weight: 900;
}

.values__para{
  font-size: 16px;
  padding: 20px 0;
  color: #7c8ba1;
  text-align: left;
}

.values__description{
  display: flex;
}

.values__description-a,
.values__description-b{
  display: flex;
  flex-direction: column;
}

.values__description-a-header,
.values__description-b-header {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.fa-dollar-sign{
  margin-right: 12px;
  border: 1px solid lightgreen;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  border-radius: 999px;
}

.fa-briefcase{
  margin-right: 12px;
  border: 1px solid rgba(255, 74, 74, 1);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 74, 74, 1);
  border-radius: 999px;
}

.values__description--title{
  text-align: center;
}

.values__para{
  color: #7c8ba1;
}

.values__description--para{
  color: #7c8ba1;
  margin: 12px 0;
}

.values__description--btn--wrapper{
  padding: 12px 0;
}

.values__description--btn{
  color: white;
  font-size: 16px;
  background-color: #6415ff;
  border: 2px solid #6415ff;
  border-radius:999px;
  padding: 12px 28px;
}

/* pricing */

.pricing__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 96px 0;
}

.pricing__header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__title{
  font-size:56px;
  color: #243e63;
  font-weight: 900;
  margin: 24px 0;
  text-align: center;
}

.pricing__para{
  font-size: 16px;
  color: #7c8ba1;
  max-width:600px;
  text-align:center;
  margin-bottom: 24px;
}

.plans{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  padding: 80px 0;
}

.plan{
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  width: calc(100% / 3);
}

.plan__top,
.plan__middle,
.plan__bottom{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(226, 232, 240);
  padding: 32px 16px;
}

.plan__bottom{
  border-radius: 0 0 10px 10px;
}

.middle__title{
  font-size:20px;
  padding-bottom:16px;
}

.plan__header{
  font-size: 20px;
  color: black;
  padding: 20px 0;
}

.plan__price{
  font-size: 44px;
  padding: 12px 0;
}

.plan__duration{
  font-weight: 700;
  color:#7c8ba1
}

.plan__benefit{
  font-size:16px;
  padding: 12px 0;
  color: #7c8ba1;
}

.plan__btn{
  width:60%;
  padding: 16px 32px;
  border: 1px solid transparent;
  border-radius: 999px;
  font-weight:700;
  font-size: 16px;
  transition: all ease 300ms;
}

.btn-personal{
  background: linear-gradient( 115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100% );
  color:white;
}

.plan__highlight--personal {
  width: 100%;
  top: 0;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  height: 8px;
}

.top--business,
.middle--business,
.bottom--business{
  border:1px solid #667eea;
  background: linear-gradient( 135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100% );
}

.top--business{
  border-top:none;
}

.business{
  color: white;
}

.plan__highlight--business{
  width: 100%;
    top: 0;
    border-radius: 8px 8px 0 0;
    background: linear-gradient( 135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100% );
    height: 8px

}

.btn-business{
  background-color: white;
    color: rgb(70 15 179);
}

.plan__highlight--enterprise {
  width: 100%;
  top: 0;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  height: 8px;
}

.btn-enterprise{
  background: linear-gradient( 115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100% );
  color:white;
}

.plan__btn:hover,
.plan__btn:hover,
.plan__btn:hover:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  transform: translate3D(1px, -1px, 0);
}

/* testimonials */

.testimonials__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 96px 0;
}

.testimonial__img--wrapper{
  width:100%;
}

.testimonial__text--wrapper{
  width:100%;
  padding: 0 32px;
}

.testimonial__title{
  color:#243e63;
  font-size: 56px;
  font-weight:900;
  padding: 24px 0;
}

.testimonial__para{
  color: #7c8ba1;
  font-size: 18px;
  padding-bottom: 24px;
  font-weight:500;
}

.ratings{
  color: #fabf2a;
  padding: 16px 0;
}

.testimonial__subtitle{
  font-size: 20px;
  font-weight: 700;
  color: #243e63;
  padding:16px 0;
}

.testimonial__subpara{
  font-size: 16px;
  color: #7c8ba1;
  padding-bottom: 16px;
}

.user__testimonial{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__abt{
  display: flex;
  align-items: center;
}

.user__img{
  border:none;
  border-radius: 50%;
  height:80px;
  width: 80px;
  margin-right: 12px;
}

.arrows{
  display: flex;
}

.arrow__right,
.arrow__left {
  width: 100%;
  width: 48px;
  height: 48px;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-radius: 999px;
  font-weight: 900;
  padding: 1rem;
  border: none;
  background-color: rgb(237 242 247);
}

.arrow__right:hover,
.arrow__left:hover {
  background-color: rgb(226 232 240);
}

.right__arrow,
.left__arrow {
  width: 16px;
  height: 16px;
  color: #6415ff;
}

.faqs__container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}

.faqs__title{
  font-size: 56px;
  font-weight: 900;
  padding: 24px 0;
}

.faqs__para{
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  text-align: center;
  max-width: 600px;
  padding-bottom: 20px;
}


.faqs__questions {
cursor: not-allowed;
cursor: not-allowed;
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
color: black;
background-color: rgb(237 242 247);
border-radius: 10px;
margin-top: 20px;
padding: 16px 40px;
font-size: 20px;
font-weight: 600;
}

.faqs__questions:hover {
  background-color: rgb(226 232 240);
}

/* contact*/

.contact__container{
  background-color: #6415ff;
  border: 2px solid #6415ff;
  border-radius: 4px;
  padding: 96px ;
  margin: 44px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact__para{
  font-size: 36px;
  color: white;
  text-align: left;
  font-weight: 700;
  width: 50%;
}

.contact__buttons{
  width: 50%;
  margin-left: 40px;
  display: flex;
}

.get__start{
  padding: 20px 36px;
  border: 1px solid transparent;
  background-color: #f56565;
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 0 8px;
  border-radius: 999px;
  transition: all smooth 400ms;
}

.contact_us{
  border: 2px solid white;
  background-color: #6415ff;
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin: 0 8px;
  padding: 20px 36px;
  border-radius: 999px;
  transition: all smooth 400ms;

}

.get__start:hover{
  background-color: #e62020;
}

.contact_us:hover{
  background-color: white;
  color: #6415ff
}

/*FOOTER*/

footer{
  padding-top: 32px;
}

.footer__container{
  background-color: #6415ff;
}

.links__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #6415ff;
  padding: 32px;
  border-bottom: 2px solid #742cff;
}

.link__title{
  padding: 80px 0 16px 0;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align:left;
  justify-content: space-between;
  width: 20%;
  padding-bottom: 24px;
}

.link__primary{
  padding-left: 40px;
}

.link{
  color: white;
  padding: 16px 0;
  font-weight: 500;
}

.link:hover{
  text-decoration: underline;
  text-underline-offset: 8px;
}

.row__footer{
  width: 100%;
  max-width: 1400px;
}

.footer__info{
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 96px 80px;
}

.footer__logo{ 
  display: flex;
  align-items: center;
}

.footer__info--title{
  color: white;
  font-size: 20px;
  font-weight: 900;
  padding: 0 12px;
}

.footer__img{
  height: 40px;
  width: 40px;
}

.copyright__info{
  color:white;
  font-size: 16px;
}

.footer__links{
  display: flex;
}

.footer__link{
  margin: 0 8px;
  padding: 8px 10px;
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  color: black;
  transition: all smooth 300ms;
}

.footer__link:hover{
  background-color: #6415ff;
  color:white;
  transform: scale(1.2);
  border: none;
}

/* Responsiveness */

@media(max-width:1024px){
  .btn__menu{
    display: block;
  }

  .menu--open .menu__backdrop{
    visibility: visible;
    opacity: 1;
  }
  
  .menu--open{
    max-height: 100vh;
    overflow-y: hidden;
  }

  .nav__links{
    display: none;
  }

  .landing__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing__container--text{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .landing__header{
    font-size: 36px;
    text-align: center;
  }

  .landing__para{
    text-align: center;
  }

  .landing__img{
    width:50%;
  }

  .services__container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .services{
    width: calc(100% / 2);
    max-width: 400px;
  }

  .quality--work--container{
    padding: 0 24px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .quality--work--title{
    font-size:36px;
  }

  .quality--work--para{
    font-size: 16px;
  }

  .quality--work--btn{
    text-align: center;
    padding: 16px 8px;
    width: 33%;
  }

  .steps--container{
    align-items: center;
  }

  .steps--title{
    padding: 4px 0;
  }

  .values--container{
    padding: 0 28px;
    align-items: center;
  }

  .values__description{
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }

  .plans{
    display: flex;
    flex-direction: column;
  }

  .plan{
    padding: 44px 0;
    width: 100%;
    max-width: 360px;
  }

  .testimonial__title{
    font-size: 40px;
    padding: 8px 0;
  }

  .contact__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact__para{
    padding: 16px 0;
    font-size: 28px;
    text-align:center;
    width: 100%;
  }

  .contact__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact_us,
  .get__start{
    padding:16px 64px;
  }

}

@media(max-width: 768px){
  .landing__header{
    font-size: 30px;
    margin: 0 auto;
  }

  .landing__para{
    width: 100%;
    max-width: 700px;
  }

  .feature__title{
    font-size: 48px;
    text-align: center;
  }

  .services{
    width: calc(100% / 1);
    max-width: 400px;
  }

  .quality--work--container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .quality--work--text{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quality--work--title{
    font-size: 36px;
    text-align: center;
    width: 100%;
  }

  .quality--work--para{
    text-align: center;
  }

  .quality--work--img--wrapper{
    padding-bottom: 40px;
  }

  .quality--work--img{
    width: 80%;
  }

  .steps--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .steps--img--wrapper{
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .steps--img{
    width: 80%;
  }

  .steps--text{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .steps__instructions--wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .steps__instruction--title,
  .steps__instruction--subtitle{
    text-align: center;
  }

  .values--container{
    display: flex;
    flex-direction: column-reverse;
  }

  .values__description--img{
    padding: 40px 0;
    width: 64%;
  }

  .values__img--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .values--text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
  }

  .values__title{
    font-size: 36px;
    text-align: center;
    width: 100%;
    max-width: 400px;
  }

  .values__para{
    text-align: center;
  }

  .values__description-a-header,
  .values__description-b-header{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .values__description--para{
    text-align: center;
  }

  .pricing__title{
    font-size: 48px;
  }

  .plans{
    padding-top: 0;
  }

  .testimonial__text--wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .testimonial__para,
   .testimonial__subpara,
   .testimonial__subtitle{
    text-align: center;
  }

  .testimonials__container{
    display: flex;
    flex-direction: column
  }

  .faqs__title{
    text-align: center;
  }

  .faqs__questions{
    width: 100%;
    max-width: 560px;
  }

  .links__wrapper{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-content: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 20px;
  }

  .links{
    width: calc(100% / 3);
    padding: 12px;
    padding: 30px 0;
  }

  .footer__info{
    display: flex;
    flex-direction: column;
  }

  .copyright__info{
    padding: 16px 0;
  }

}

@media(max-width: 640px){
  .input__email{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input__email--btn{
    position: static;
    margin: 24px 0;
    width: 100%;
    padding: 20px 32px 20px 32px;
    text-align: center;
  }

  .steps--title{
    text-align: center;
  }

  .service__description--title{
    font-size: 24px;;
  }

  .steps--container{
    width: 100%;
    padding-right: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact__buttons{
    width: 100%;
    margin-right: 24px;
  }

  .get__start,
  .contact_us{
    width: 100%;
    padding: 4px 20px;
  }

  .testimonial__title{
    text-align: center;
  }

  .user__testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .user__abt{
    display: flex;
    flex-direction: column;
  }

  .user__img--wrapper{
    padding: 12px 0;
    margin-left: 24px;
  }

  .arrows{
    margin: 8px 12px;
  }

  .copyright__info{
    text-align: center;
  }

  .links__wrapper{
    width: 100%;
    padding-left: 40px;
    display: flex;
    flex-wrap:wrap;
  }

  .links{
    width:calc(100%/2);
  }

  .plan{
    width: 100%;
    padding: 12px 24px;
  }

  .faqs__container{
    width: 100%;
    padding-right:40px;
  }

  .faqs__questions{
    margin-right: 24px;
    margin-left: 24px;
    width:100%;
  }

  .faqs__para,
  .faqs__title{
    padding-left: 40px;
  }

  h1{
    font-size:32px !important;
  }
}